<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
    <title>Checkout</title>
    <style>
        @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }
    </style>
</head>
<body>
    <section class="h-100 h-custom" style="background-color: #eee;">
      {% if request.user.is_authenticated %}
        <a href = "{% url 'prod_detail' %}" class = "btn btn-primary mt-10">Home</a>
      {% endif %}
      {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-lg-7">
                      
                      <h5 class="mb-3"><a href="#!" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                      <hr>
      
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <p class="mb-1">Shopping cart</p>
                        </div>
                        <div>
                          <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                              class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div>
                      </div>
      
                     {% for item in request.session.cart %}
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>{{item.Name}}</h5>
                                <p class="small mb-0">256GB, Navy Blue</p>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">{{item.Quantity}}</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">${{item.Price}}</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                          <hr class="my-4">
                          {% for item in request.session.cart %}
                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Subtotal</p>
                            <p class="mb-2">${{item.Price}}</p>
                          </div>
                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(Incl. taxes)</p>
                            <p class="mb-2">{{total}}</p>
                          </div>
                          {% endfor %}
                          <button type="button" class="btn btn-info btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                              <span>Continue to Pay <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                          </button>
                            <h2 style = 'margin: 10px;'><b>Select Address</b></h2>
                            <form method = 'POST'>
                              {% csrf_token %}
                              {% for d in data %}
                                <div class = "d-flex flex-row">
                                  <input type = 'radio' name = 'data' value = {{d.id}}> 
                                  <p>{{d.address}},{{d.city}},{{d.state}},{{d.country}},{{d.zipcode}}</p>
                                </div>
                              {% endfor %}
                              <input type = 'submit' class = 'btn btn-success m-10' value = "Place Order"> 
                            </form>   
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>

















































































































































































































































































































































































































































